<!DOCTYPE html>
<html>
    <head>
        <title>Job Listing </title>
        <%= csrf_meta_tags %>

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

    <body>

        <div class="container-fluid">
            <%= render "common/navbar" %>
            <%= render "common/flashes" %>
            <div class="row">
              <div class="col-md-2">
                <div id="sidebar-wrapper">

                    <div id="sidebar_menu" class="sidebar-nav">
                       <div class="sidebar-brand text-center"><a href="/admin/jobs">后台管理</a></div>
                    </div>
                    <ul class="sidebar-nav " id="sidebar">
                      <li><a class="btn btn-info fa fa-home" href="/">首页</a></li>
                      <li><a class="btn btn-warning fa fa-plus" href="/admin/jobs/new">新增岗位</a></li>
                    </ul>
                  </div>


              </div>

              <div class="col-md-10">
                <%= yield %>
              </div>
           </div>
        </div>

        <%= render "common/footer" %>

    </body>
</html>
